#routeChart {
   width: 500;
   height: 500px;
}

body {
  font-family: 'Roboto', sans-serif;
  width:800px;
  height:800px;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

h1 .divider {
	margin: 0 8px;
}

h1 .sub-headline {
	color: #888;
	font-weight: 300;
}

button {
  height: 30px;
  width: 30px;
  outline: none;
}
